h1,
h2,
h3,
h4,
h5,
p {
    color: black;
    font-family: sans-serif;
}


/* FONT SIZE */

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4,
h5,
h6 {
    font-size: 20px;;
}

p {
    font-size: 16px;
}

.margin-right {
    margin-right: 10px;
}