.border-green{
    border: solid 4px green;
    height: 100%;
    margin: 10px auto;
    width: 98%;
    padding: 20px;
}

.border-black{
    background-color: black;
    border: solid 4px black;
    height: 100%;
    margin: 10px auto;
    width: 98%;
    padding: 20px;
}