.titre-large {
    font-size: 40px;
}

.titre-medium {
    font-size: 25px;  
}

.titre-petit {
    font-size: 16px;  
}

.light {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;;
}