/*

Ceci est un exemple pour séparer votre CSS, cela évite d'avoir un très long fichier CSS.
Toutefois, pour faciliter le repérage des classes, j'ai tout recopier les ici.

/* GENERIC 
@import url("./generic/global.css");

/* ELEMENTS
@import url("./elements/section.css");
@import url("./elements/typo.css");

/* OBJECTS 
@import url("./objets/border.css");
@import url("./objets/color.css");
@import url("./objets/display.css");
@import url("./objets/layout.css");
@import url("./objets/typography.css");
*/



/* TOUS LES STYLES */

/* GENERIC */

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}


/* ELEMENTS */

h1,
h2,
h3,
h4,
h5 {
    color: black;
    font-family: 'Roboto', sans-serif;
}
p,
dl,
caption,
td {
    color: black;
    font-family: 'Jomolhari', serif;
}



h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}


h3 {
    font-size: 25px;
}

h4,
h5,
h6,
dt,
caption {
    font-size: 20px;;
}

p,
dd,
td {
    font-size: 16px;
}

div p {

    display: inline-block;
    width: 32%;
    vertical-align: top;
    padding: 0 5px;
}


/* header */
header {
    background-image: url("../assets/images/Vin-chaud-epice.jpg");
    background-color: #092834;
    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 35vh;
    margin: 15px;

}

/* body */
body {
    background-color: burlywood;
}


/* navigateur */
a:hover,
a:active {
    color: chocolate;
}
a:hover,
a:active {
    font-size: 110%;
}
.margin-right {
    margin-right: 25px;
    color: #ffffff;
}
ul a {
    color: #ffffff;
}

.transbox {
    /*margin: 30px;*/
    background-color: #ffffff;
    /*border: 1px solid black;*/
    opacity: 0.6;
    filter: alpha(opacity=60);
    display: inline-block;
}
nav.transbox{
    background: currentColor;
    padding: 20px;
    width: 25%;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
}

/* section */
section {
    margin-top: 10vw;;
}



/* footer */
footer {
    background-color: black;
}

/* article */
article dl {
    display: inline-block;
    /*width: 32%;*/
    vertical-align: top;
    padding: 0 5px;
}

u {
    text-decoration: underline;
}


/* OBJECTS */
.margin-left {
    margin-left: 25px;
}

/* BORDER */

.border-chocolate{
    border: solid 4px chocolate;
    height: 100%;
    margin: 10px auto;
    width: 98%;
    padding: 20px;
}

.border-black{
    border: solid 4px black;
    height: 100%;
    margin: 10px auto;
    width: 98%;
    padding: 20px;
}

table,
caption,
tr,
td {
    border: 1px solid black;
    width: -webkit-fill-available;
}

td {
    text-align: center;
}
/* COLOR */

.darkred {
    color: darkred;
}

caption {
    background: chocolate;
}


/* DISPLAY */

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}


/* LAYOUT */

.tier-vw {
    width: 33vw;
}

.tier-pourcent {
    width: 33%;
}

.moitie-vw {
    width: 50vw;
}

.moitie-pourcent {
    width: 50%;
}

.trois-quart-vw {
    width: 75vw;;
}

.align-top {
    vertical-align: top; 
}


/* TYPOGRAPHY */

.titre-large {
    font-size: 40px;
}

.titre-medium {
    font-size: 25px;  
}

.titre-petit {
    font-size: 16px;  
}

.light {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;;
}
